.background-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.button-container {
  display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: flex-start;
  transform: translateY(-50%);
  top: 70%;
  left: 5%;
  right: 5%;
  width: 90%;
}

.background-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.button {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: rgb(235,0,0);
  border: none;
  outline: none;
  border-radius: 20px;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
  font-size: 100%;
  font-weight: 500;
  cursor: pointer;
}

.button1-container {
  display: flex;
  z-index: 1;
  margin-right: 10px;
}

.button2-container {
  display: flex;
  z-index: 1;
}

.login-welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.login-welcome-text {
  font-size: 150%;
  position: fixed;
  top: 28.5%;
  left: 5%;
  color: black;
  z-index: 1;
}

.login-heading1 {
  font-size: 250%;
  font-weight: bold;
  position: fixed;
  top: 37%;
  left: 5%;
  color: red;
}

.login-heading2 {
  font-size: 250%;
  font-weight: bold;
  position: fixed;
  top: 45%;
  left: 5%;
  color: red;
}

.login-background-image {
  background-image: url('../public/login-background-image.png');
  left: 15%;
  width: 85%;
  position: fixed;
}

.login-marutisuzuki-logo {
  background-image: url('../public/login-marutisuzuki-logo.png');
  background-size: 30% auto;
  background-position: 5% 5%;
  width: 100%;
  position: fixed;
}

.login-welcome-image {
  background-image: url('../public/login-welcome-image.png');
  background-size: 5% auto;
  background-position: 20% 30%;
  width: 100%;
  height: 100%;
}

.login-rect-image {
  background-image: url('../public/login-rect-image.png');
  background-size: 30% auto;
  background-position: 6% 5%;
  z-index: 2zzz;
}

.button:hover {
  background: darkred;
}

.button:active {
  background: brown;
}

.button_text,
.button_icon {
	display: inline-flex;
	align-items: center;
	padding: 0 20px;
	color: #fff;
	height: 100%;
}

.button_icon {
	font-size: 1.5em;
	background: rgba(0, 0, 0, 0.08);
}


@media (max-width: 1100px) {
  .login-background-image {
    left: 0;
    width: 100%;
  }

  .login-marutisuzuki-logo {
    background-size: 30% auto;
    background-position: 5% 5%;
  }

  .login-welcome-image {
    background-size: 5% auto;
    background-position: 27% 32%;
  }

  .login-rect-image {
    background-size: 5% auto;
    background-position: 5% 47%;
  }

  .login-welcome-text {
    font-size: 80%;
    position: fixed;
    top: 31%;
    left: 5%;
  }

  .login-heading1 {
    font-size: 100%;
    font-weight: bold;
    position: fixed;
    top: 37%;
    left: 5%;
  }

  .login-heading2 {
    font-size: 100%;
    font-weight: bold;
    position: fixed;
    top: 42%;
    left: 5%;
  }

  .button-container {
    top: 50%;
  }

  .button1-container {
    display: flex;
    margin-right: 10px;
  }
  
  .button2-container {
    display: flex;
  }

  .button {
    display: flex;
    padding: 5px 10px;
  }

  .button_text,
  .button_icon {
	  display: inline-flex;
	  align-items: center;
	  padding: 0 8px;
	  color: #fff;
	  height: 100%;
  }

  .button_icon {
	  font-size: 0.5em;
	  background: rgba(0, 0, 0, 0.08);
  }
}
